body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 

}

#root{
 display: grid;
 grid-template-rows: auto: 1fr auto;
 height: 100vh;

}

header{
 padding: 15px 0;
 background-color: aqua;

}

main{
flex: 1;
}

footer{
  padding: 15px 0;
  background-color: aqua;

 }
