body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5500FF;
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    background-color: #5500FF;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ffffff;
    margin: 20px;
}

#consultar {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 08px;
    box-shadow: 0px 0px 10px #ffffff;
}
#resultados img{
    width:500px;
}
input{
    padding: 5px;
    font-size:10px;
}

#modo-noturno{
    position: fixed;
    top:20px;
    left:20px;
    background-color: transparent;
    border: none;
    outline: pointer;
    font-size: 2em;
    color:#000000;
}
.darkMode{
    background-color: #000000;
    color: #ffffff;
}
